label{
color: white;
margin: 20px;
margin-left: 0;
}


form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    max-width: 600px;
}
form input,textarea{
    margin-bottom: 10px;
    padding: 10px 18px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: white;

}

form .btn{
    width:90px;
}

@media screen and (max-width:1040px) {
    .form h1{
    font-size: 55px;
    
            
}
}